---
layout: page
title: Completed Theses
---

<section class="section page-title-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center section-title justify-content-between">
          <h2 class="mb-0 text-nowrap mr-3">{{ page.title }}</h2>
          <div class="border-top w-100 border-primary d-none d-sm-block"></div>
        </div>
      </div>
    </div>

    {% for thesis_by_type in site.data.completed_theses %}
    <h4>{{ thesis_by_type.title }}</h4>
    <div class="col-lg-12 col-md-12">
      <ul class="list-unstyled">
      {% assign theses = thesis_by_type.theses %}
        {% for thesis in theses %}

        <li class="d-md-table m-4 p-2 w-100 border-bottom hover-shadow rounded">
          <div class="row h-100">
            <div class="col-lg-10">
              <p class="mb-1">
                <b>{{ thesis.title }}</b>, {{ thesis.institute }}, {{ thesis.year }}. <br />
              {{ thesis.author }}
              </p>
            </div>
            <div class="col-lg-2 text-xl-right my-auto" style="font-size: 24px;">
              {% if thesis.pdf_file %}
              <a href="{{ site.baseurl }}/assets/data/theses/pdfs/{{ thesis.pdf_file }}"><i class="fas fa-file-pdf"></i></a>
              {% endif %}
            </div>
          </div>
        </li>

        {% endfor %}
      </ul>
    </div>
    {% endfor %}
</section>