---
layout: page
title: Open Positions
---

<section class="section page-title-section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="d-flex align-items-center section-title justify-content-between">
            <h2 class="mb-0 text-nowrap mr-3">{{ page.title }}</h2>
            <div class="border-top w-100 border-primary d-none d-sm-block"></div>
          </div>
        </div>
      </div>

      {% assign sorted_jobs = site.open_positions | sort: 'date' | reverse %}
      {% for project in sorted_jobs %}

      <div class="row m-4 p-2 w-100 border-bottom hover-shadow rounded">
        <div class="col-3">
          <img class="card-img-top news-img rounded-0" src="{{ site.baseurl }}{{ project.image }}" alt="Post thumb">
              </div>
        <div class="col-9">
          <h4><a href="{{ project.link }}" target="_blank">{{ project.title }}</a></h4>
          <p class="text-justify">{{ project.description }}</p>
          {% if project.link %}
          <p>For details, please click <a href="{{ project.link }}" target="_blank">here</a>.</p>
          {% endif %}
        </div>
      </div>

      {% endfor %}

    </div>
</section>