---
layout: page
title: Publications
---

<section class="section page-title-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center section-title justify-content-between">
          <h2 class="mb-0 text-nowrap mr-3">{{ page.title }}</h2>
          <div class="border-top w-100 border-primary d-none d-sm-block"></div>
        </div>
        <!-- <div class="w-100 border-1 bg-light p-2 mb-2">
          *: equal contribution
        </div> -->
      </div>
    </div>

    {% assign pubsPerYear = site.publications | group_by_exp:"pub", "pub.year" | sort: "name" | reverse %}

    <div class="row">
      {% assign counter = 0 %}
      {% for pubPerYear in pubsPerYear %}

      <div data-category="{{ pubPerYear.name }}" class="col-lg-12 col-sm-12 mb-5">
        <h4><a id="{{ pubPerYear.name }}"></a>{{ pubPerYear.name }}</h4>

        {% assign pubsPerYearPerType = pubPerYear.items | group_by_exp:"pub", "pub.type" | sort: "name" | reverse %}
        {% for pubPerType in pubsPerYearPerType %}
        <div data-category="{{ pubPerType.name }}">
          <h4 class="text-capitalize pl-3 py-3">{{ site.data.config.publications[pubPerType.name] }}</h4>

          {% assign sorted_pubs = pubPerType.items | sort: "path" | reverse %}
          {% for pub in sorted_pubs %}
          {% assign counter = counter | plus:1 %}
          <!-- pub pdf link --> 
          {% if pub.pdf_link %}
          {%    assign check = pub.pdf_link | split:':' | first %}
          {%    if check == 'https' or check == 'http' %}
          {%      assign pub.pdf_link = pub.pdf_link %}
          {%    else %}
          {%      assign pub.pdf_link = site.baseurl | append: '/assets/data/pdf/' | append: pub.pdf_link %}
          {%    endif %}
          {% endif %}
          <div class="row mb-5">
            <div class="col-lg-3 col-md-4">
              {% if pub.image %}
              <img class="publication-image pl-3 w-100" src="{{ site.baseurl }}/assets/images/publications/{{ pub.image }}" />
              {% else %}
              <p class='w-100 h-100'></p>
              {% endif %}
            </div>
            <div class="col-lg-9 col-md-8">
              {% if pub.pdf_link %}
              <a href="{{ pub.pdf_link }}" target="_blank">
                <h5>{{ pub.title }}</h5>
              </a>
              {% else %}
              <h5>{{ pub.title }}</h5>
              {% endif %}
              <p>{{ pub.authors }}<br /><i>{{ pub.published_at }}</i>.</p>
              <p>
                <!-- <a data-toggle="collapse" href="#collapseExample_{{ counter }}" role="button" aria-expanded="false" aria-controls="collapseExample_{{ counter }}">
                  Bibtex
                </a> -->
                {% if pub.bibtex_link %}
                <a href="{{ site.baseurl }}/assets/data/bibtex/{{ pub.bibtex_link }}"><i class="fas fa-sticky-note m-2"></i>Bibtex</a>
                {% endif %}
                {% if pub.pdf_link %}
                <a href="{{ pub.pdf_link }}" target="_blank"><i class="fas fa-file-pdf m-2"></i>PDF</a>
                {% endif %}
                {% if pub.git_link %}
                <a href="{{ pub.git_link }}" target="_blank"><i class="fab fa-gitlab m-2"></i>Git</a>
                {% endif %}
                {% if pub.guide_link %}
                <a href="{{ pub.guide_link }}" target="_blank"><i class="fas fa-link m-2"></i>Guide</a>
                {% endif %}
                {% if pub.web_site_link %}
                <a href="{{ pub.web_site_link }}" target="_blank"><i class="fas fa-link m-2"></i>Web Site</a>
                {% endif %}
              </p>

              {% if pub.authors contains "*" %}
              <p class="font-italic mb-0 small text-black-50">* Equal contribution</p>
              {% endif %}

            </div>
          </div>

          {% endfor %}

        </div>

        {% endfor %}

      </div>

      {% endfor %}
    </div>

  </div>
</section>



<!-- Modal -->
<!-- The Modal -->
<div id="modalBox" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="modalImg" />
  <div id="caption"></div>
</div>

<script type="text/javascript">

// Get the modal
var modal = document.getElementById('modalBox');

// Get the image and insert it inside the modal - use its "alt" text as a caption
// var img = document.getElementById('dspImg');
var modalImg = document.getElementById("modalImg");
var captionText = document.getElementById("caption");

publication_images = document.getElementsByClassName("publication-image");

for (var i = publication_images.length - 1; i >= 0; i--) {
	img = publication_images[i]

	img.onclick = function(){
	    modal.style.display = "block";
	    modalImg.src = this.src;
	    captionText.innerHTML = this.alt;
	}
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When user clicks into the modal, close the modal
modal.addEventListener('click',function(){
 	this.style.display="none";
})

// When user hits ESC, close the modal
document.addEventListener("keydown", function(event) {
	if (event.keyCode == 27) {
		modal.style.display="none";
	}
})
</script>

<style type="text/css">
 /* Style the Image Used to Trigger the Modal */
.publication-image:hover {
	opacity: 0.7;
	cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    z-index: 2030;
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 900px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
</style>
