---
layout: page
title: Team
---

<section class="section page-title-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center section-title justify-content-between">
          <h2 class="mb-0 text-nowrap mr-3">{{ page.title }}</h2>
          <div class="border-top w-100 border-primary d-none d-sm-block"></div>
        </div>
      </div>
    </div>

    <!-- member list -->

    {% assign sorted_groups = site.team | group_by: "member_group" | sort: "name" %}
    {% for group in sorted_groups %}

    <div class="row text-center">
      {% if group.name != "Administration" %}
      <div class="col-12">
        <div class="d-flex align-items-center section-title justify-content-between">
          <h4 class="mb-0 text-nowrap mr-3">{{ group.name }}</h4>
          <div class="border-top w-100 border-primary d-none d-sm-block"></div>
        </div>
      </div>
      {% endif %}

      {% assign sorted_team = group.items | sort: "member_last_name" %}

      {% for member in sorted_team %}
      <!-- member -->
      <div data-category="" class="col-lg-4 col-sm-6 mb-5 filtr-item d-flex">
        <div class="card border-1 align-items-center hover-shadow">
          <div class="card-header text-center">
            <img class="rounded w-50" src="{{ site.baseurl }}/assets/images/team/members/{{ member.member_image }}" alt="{{ member.member_title }} {{ member.member_name }}">
          </div>

          <div class="card-body">
            <a href="{{ site.baseurl }}{{ member.url }}">
              <h5 class="card-title">{{ member.member_title }} {{ member.member_first_name }} {{ member.member_last_name }}</h5>
            </a>
            {% if group.name == "Administration" %}
            <p class="m-0">{{ member.member_position }}</p>
            {% endif %}

            <!-- add tags below -->
            {% if member.member_tags %}
            <div class="mt-3">
              {% for tag in member.member_tags %}
              <span class="badge badge-pill tag">{{ tag }}</span>
              {% endfor %}
            </div>
            {% endif %}
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
    {% endfor %}

    {% for section in site.data.team_externals %}

    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center justify-content-between mb-3">
          <h4 class="mb-0 text-nowrap mr-3">{{ section.title }}</h4>
        </div>
      </div>
      <div class="col-12 m-0">

        <ul class="list-group experience mb-4 w-100">
        {% for member in section.members %}

        <li class="list-group-item">
          <div class="row">
            <div class="col-lg-3 col-sm-4">
            {% if member.link %}
              <a href="{{ member.link }}" target="_blank">{{ member.name }}</a>
            {% else %}
              {{ member.name }}
            {% endif %}
            </div>
            <div class="col-lg-9 col-sm-8">{{ member.detail }}</div>
          </div>
        </li>

        {% endfor %}
        </ul>

      </div>
    </div>

    {% endfor %}

    <div class="row">
      <div class="col-12">
        <div class="alert-secondary rounded p-3" style="border: 1px solid rgba(0,0,0,.125);">
          For former members, please click <a href="{{ site.baseurl }}/team/alumni">Alumni</a>.
        </div>
      </div>
    </div>

  </div>
</section>