    <head>
        <!-- META -->
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="UTF-8">

        <!-- mobile responsive meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">

        <!-- ** Plugins Needed for the Project ** -->
        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/plugins/bootstrap/bootstrap.min.css">
        <!-- slick slider -->
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/plugins/slick/slick.css">
        <!-- themefy-icon -->
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/plugins/themify-icons/themify-icons.css">
        <!-- animation css -->
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/plugins/animate/animate.css">
        <!-- aos -->
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/plugins/aos/aos.css">
        <!-- venobox popup -->
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/plugins/venobox/venobox.css">
        <!-- fontawesome -->
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/plugins/fontawesome-5.15.4/css/all.css">

        <!-- Main Stylesheet -->
        <link href="{{ site.baseurl }}/assets/css/style.css" rel="stylesheet">

        <!--Favicon-->
        <link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/favicon.ico" type="image/x-icon">
        <link rel="icon" href="{{ site.url }}{{ site.baseurl }}/assets/images/favicon.ico" type="image/x-icon">


        <!-- Canonical SEO -->
        <link rel="canonical" href="{{ site.url }}{{ site.data.config.url }}" />
        <!--  Social tags      -->
        <meta name="keywords" content="RSiM, Remote, Sensing, Image, Analysis, TU Berlin, Machine Learning, Deep Learning, Satellite Images">
        <meta name="description" content="Remote Sensing Image Analysis (RSiM) Group @ TU Berlin started in April, 2018. RSiM group performs research in the fields of processing and analysis of remote sensing images for Earth observation with interdisciplinary approaches associated to remote sensing, machine learning, signal&image processing and big data management.">
        <!-- Twitter Card data -->
        <meta name="twitter:card" content="Remote Sensing Image Analysis (RSiM) Group @ TU Berlin">
        <meta name="twitter:site" content="https://www.rsim.tu-berlin.de">
        <meta name="twitter:title" content="Remote Sensing Image Analysis (RSiM) Group @ TU Berlin">
        <meta name="twitter:description" content="Remote Sensing Image Analysis (RSiM) Group @ TU Berlin started in April, 2018. RSiM group performs research in the fields of processing and analysis of remote sensing images for Earth observation with interdisciplinary approaches associated to remote sensing, machine learning, signal&image processing and big data management.">
        <meta name="twitter:creator" content="RSiM">
        <meta name="twitter:image" content="{{ site.url }}{{ site.baseurl }}/assets/images/rsim.sm.png">
        <!-- Open Graph data -->
        <meta property="og:title" content="Remote Sensing Image Analysis (RSiM) Group @ TU Berlin" />
        <meta property="og:type" content="organization" />
        <meta property="og:url" content="https://www.rsim.tu-berlin.de" />
        <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/assets/images/rsim.sm.png" />
        <meta property="og:description" content="Remote Sensing Image Analysis (RSiM) Group @ TU Berlin started in April, 2018. RSiM group performs research in the fields of processing and analysis of remote sensing images for Earth observation with interdisciplinary approaches associated to remote sensing, machine learning, signal&image processing and big data management." />
        <meta property="og:site_name" content="RSiM" />

        <!--     Fonts and icons     -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
        <!-- Font Awesome Icons -->
        <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>

        <!-- TO BE CONTINUED -->
    </head>